<div class="main-container">
  <div class="title flex column center">
    <h2>Nos atouts</h2>
    <span class="underline"></span>
  </div>

  <div class="main-icon flex column ">
    <div class="icon flex center column">
      <i class="fa-solid fa-clipboard-list flex center"></i>
      <p class="text flex">Devis gratuit</p>
      
    </div>
    <div class="icon flex center column">
      <i class="fa-solid fa-truck-fast flex center"></i>
      <p class="text flex">Enlèvement d'épave gratuit</p>
      
    </div>
    <div class="icon flex center column">
      <i class="fa-regular fa-clock flex center"></i>
      <p class="text flex ">Réactif</p>
    </div>
    <div class="icon flex center column">
      <i class="fa-solid fa-clipboard-list flex center"></i>
      <p class="text flex">Devis gratuit</p>
    </div>
  </div>
</div>
