<div class="main-container ">
  <div class="title flex justify-center"><h3>Nos Valeurs</h3></div>
  <div class="main-icon flex column  ">
    <div class="icon flex center column">
      <i class="fa-solid fa-clipboard-list  flex center"></i>
      <p class="text">Devis gratuit</p>
    </div>
    <div class="icon flex center column ">
      <i class="fa-solid fa-truck-fast flex center"></i> 
      <p class="text">enlevement d'epave </p>
      <p class="text">gratuit</p>
    </div>
    <div class="icon  flex center column">
      <i class="fa-regular fa-clock flex center"></i>
      <p class="text">Rapide</p>
    </div>
    <div class="icon flex center column ">
      <i class="fa-solid fa-clipboard-list  flex center"></i>
      <p class="text">Devis gratuit</p>
    </div>
  </div>
</div>
