@import "../../scss/variables.scss";

.gallery-page  {
  flex-wrap: wrap;
}
.gallery-page div{
  margin: auto;
}
img {
 
  height: 100%;
  width: 80%;
  border: 5px solid $black;
}

//----------------------------media queries--------------------------

@media screen and (min-width: 768px) {
   .gallery-page  {
   }

  img {
    width: 25vw;
    margin :20px auto;    
   
  }

    .test{
      z-index: 998;
      position: relative;
     
      height: 25vw;
      width: 25vw;
         
      transition: 0.5s;
      background-color:transparent;
    }

    .test:hover{
      background-color:red;
    }

  
}
