@import "../../scss/variables.scss";

.gallery-page  {
  flex-wrap: wrap;
}
.gallery-page div{
  margin:  auto;
}
img {
  margin: 10px 0;
  height: 100%;
  width: 80%;
  
}

//----------------------------media queries--------------------------

@media screen and (min-width: 768px) {
   .gallery-page  {
  
   }

  .hoverpicture img {
    width: 25vw;
    margin :20px auto;   
    filter: grayscale(100%); 
    transition: 0.5S ease;
    cursor: pointer;
   
  }
.hoverpicture
{overflow: hidden;}

  .hoverpicture img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
  }

    // .test{
    //   z-index: 998;
    //   position: relative;
     
    //   height: 25vw;
    //   width: 25vw;
         
    //   transition: 0.5s;
    //   background-color:transparent;
    // }

    // .test:hover{
    //   background-color:red;
    // }

  
}
