<div class="carousel-container">
  <div class="title flex column center">
    <span class="underline"></span>
    <h2>Nos services</h2>
    <span class="underline"></span>
  </div>
  <div class="text-image center">
    <div
      class="carousel-image"
      [style.background-image]="'url(' + images[currentIndex] + ')'"
    ></div>
    <div class="service-container flex column justify-center">
      <div class="service flex column justify-center " routerLink="/services">
        DÉPANNAGE ET REMORQUAGE
      </div>
      <div class="service flex column justify-center" routerLink="/services" >ENLÈVEMENT D'ÉPAVE</div>
      <div class="service flex column justify-center" routerLink="/services">
        RACHAT ET REVENTE DE VÉHICULE
      </div>
    </div>
  </div>
</div>
