@import "../../scss/variables.scss";

.form-redirect-page {
  height: calc(
    100vh - $mobile-header - $mobile-h1-component - $height-headband -
      var(--height-footer) - 18px
  );
  .button-wrapper {
    margin-top: $normal-margin;
    margin-bottom: $double-margin;
  }
}

@media screen and (min-width: 768px) {
  .form-redirect-page {
    height: 100%;
    .button-wrapper {
      margin-top: $half-margin;
      margin-bottom: $normal-margin;
    }
  }
}

@media screen and (min-width: 1200px) {
  .form-redirect-page {
    .button-wrapper {
      margin-top: $half-margin;
      margin-bottom: $normal-margin;
    }
  }
}
