@import "../../scss/variables.scss";

footer {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  background-color: $black;
  color: $white;
  flex-wrap: wrap;
  padding: $double-padding;
  .half-width {
    width: 50%;
  }
  section {
    h6 {
      padding-bottom: $normal-padding;
      font-size: $double-font-size;
      color: $yellow;
    }
  }
  a {
    color: $white;
    padding-bottom: $normal-padding;
  }
}
i {
  font-size: $double-font-size;
  color: $yellow;

  width: $triple-padding;
}

@media screen and (min-width: 768px) {
  footer {
    padding: $triple-padding;
    section {
      h6 {
        font-size: $triple-font-size;
      }
      .padding {
        padding-top: $double-padding;
      }
    }
  }
  i {
    font-size: $triple-font-size;
    width: $triple-padding * 2;
  }
  li,
  p {
    padding-top: $normal-padding;
    font-size: $double-font-size;
  }
}

@media screen and (min-width: 992px) {
  footer {
    padding : $triple-padding * 2;
  }
}
