<app-headband-black-yellow></app-headband-black-yellow>
<footer>
  <section class="flex column half-width">
    <h6>Accès Rapide</h6>
    <ul>
      <li class="pointer" *ngFor="let item of menuList" [routerLink]="[item.routerLink]">
        {{ item.name }}
      </li>
      <li class="pointer" routerLink="/plan-du-site">
        Plan du site
      </li>
    </ul>
  </section>
  <section class="half-width">
    <h6>Contactez-nous</h6>
    <a
      class="flex align-center"
      href="https://maps.app.goo.gl/hzJtFWsvaquvWS1T7"
    >
      <i class="fa-solid fa-location-dot"></i>
      <div class="flew column">
        <p>7 impasse des poiries</p>
        <p>38550 Sablons France</p>
      </div>
    </a>
    <a class="flex align-center" href="tel:+33603430085">
      <i class="fa-solid fa-phone"></i>
      <p class="flex">06 03 43 00 85</p>
    </a>
    <h6 class="padding">Horaires</h6>
    <p>Disponibilités : 7/7 24/24</p>
  </section>
  <section class="cities flex">
    <p>
      Dépannage à
      <span
        *ngFor="let city of cityList"
        [routerLink]="[city.routerLink]"
        class="pointer"
        >{{ city.name }},
      </span>
    </p>
  </section>
</footer>
