@import "../../scss/variables.scss";

footer {
  display: flex;
  align-items: flex-start;
  background-color: $black;
  color: $white;
  flex-wrap: wrap;
  padding: $double-padding;
  section {
    ul {
      li {
        padding-bottom: $normal-padding;
      }
    }
    h6 {
      padding-bottom: $normal-padding;
      font-size: $double-font-size;
      color: $yellow;
    }
  }
  .half-width {
    width: 50%;
  }
  .cities {
    padding-top: $double-padding;
    flex-wrap: wrap;
    height: 8vh;
    overflow-y: scroll;
    p {
      padding-right: $half-padding;
      transition: 0.2s;
    }
    span:hover {
      color: $yellow;
    }
  }
  a {
    color: $white;
    padding-bottom: $normal-padding;
  }
}

@media screen and (min-width: 768px) {
  footer {
    padding: $triple-padding;
    .half-width {
      width: 33%;
    }
    section {
      width: 33%;
      h6 {
        font-size: $triple-font-size;
      }
      .padding {
        padding-top: $double-padding;
      }
    }
    .cities {
      height: 100%;
      max-height: 240px;
    }
  }

  li,
  p {
    padding-top: $normal-padding;
    font-size: $double-font-size;
  }
}

@media screen and (min-width: 992px) {
  footer {
    padding: $triple-padding * 2;
  }
}
