@import "../../scss/variables.scss";

.intervention-component {
  width: 100%;
  flex-direction: column;

  .title {
    h2 {
      color: $white;
      text-align: center;
    }
  }

  .intervention-map {
    overflow: hidden;
    border-radius: 100%;
    width: 380px;
    height: 380px;
    margin: $double-margin;

    img {
      border-radius: 50%;
      width: 470px;
      height: 420px;
      padding: 0px 10px;
    }
  }
  p {
    text-align: justify;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 950px) {
  .title {
    width: 100vw;
  }
  .intervention-component {
    width: 90vh;
    flex-direction: column;
    display: flex;

    .intervention-description {
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: space-around;

      .paragraphe {
        width: 40vw;
        p {
          text-align: justify;
          font-size: 1.2rem;
        }
      }

      .intervention-map {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .title {
    width: 100vw;
  }
  .intervention-component {
    .intervention-description {
      .paragraphe {
        p {
          font-size: 1.5rem;
        }
      }

      .intervention-map {
        margin: 0;
      }
    }
  }
}
