@import "../../scss/variables.scss";

.intervention-component {
  width: 100%;
  flex-direction: column;
  .intervention-map {
    overflow: hidden;
    border-radius: 100%;
    width: 380px;
    height: 380px;
    margin: $double-margin;

    img {
      border-radius: 50%;
      width: 470px;
      height: 420px;
      padding: 0px 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    width: 100vw;
  }
  .intervention-component {
    flex-direction: column;

    display: flex;
    .intervention-description {
      flex-direction: row;
      //height: 50vh;
      width: 80vw;

      p {
        font-size: 1rem;
      }

      .intervention-map {
        width: 57vw;
        //scale: 1.3;
        margin: 0;

        // img {
        //   //scale: 1.5;
        //   // width: 37vw;
        //   //height: 45vh;
        // }
      }
    }
  }
}
@media screen and (min-width: 1250px) {
  .title {
    width: 100vw;
  }
  .intervention-component {
    flex-direction: column;

    display: flex;
    .intervention-description {
      flex-direction: row;
      width: 80vw;
      scale: 1.2;
      .paragraphe {
        width: 50vw;
        p {
          font-size: 1.2;
        }
      }

      .intervention-map {
        width: 30vw;
        height: 40vh;
        scale: 1.1;
        margin: 0;

         img {
        //   //scale: 1.5;
         width: 37vw;
        height: 45vh;
         }
      }
    }
  }
}
