<div class="intervention-component flex center">
  <div class="intervention-description flex column center">
    <h3>Zone d'Intervention</h3>
    <span class="underline"></span>
    <p>
      Nous intervenons le plus rapidement et le plus efficacement possible à
      chaque intervention.<br />
      RH Dépannage est située à Sablons dans le département de l'Isère en région
      Auvergne-Rhône-Alpes. <br />Nous vous proposons des prestations de qualité
      en dépannage et remorquage, enlèvement d'épave, rachat et revente de
      véhicule.<br />
      Nous intervenons sur 100 km autour de Sablons, alors n'hésitez pas à nous
      contacter par téléphone ou via le formulaire de contact pour plus
      d'informations.
    </p>
  </div>
  <div class="intervention-map">
    <img
      src="../../../assets/images/map.png"
      alt="image de la zone d'intervention de RH Dépannage"
    />
    <i class="fa-solid fa-location-dot map-point center"></i>
  </div>
</div>
