<div class="intervention-component flex center">
  <div class="title flex column center">
    <span class="underline"></span>
    <h2>Zone d'Intervention</h2>
    <span class="underline"></span>
  </div>
  <div class="intervention-description flex column center">
    <div class="paragraphe">
      <p>
        Nous intervenons le plus rapidement et le plus efficacement possible à
        chaque intervention.<br />
        RH Dépannage est située à Sablons dans le département de l'Isère en
        région Auvergne-Rhône-Alpes. <br />Nous vous proposons des prestations
        de qualité en dépannage et remorquage, enlèvement d'épave, rachat et
        revente de véhicule.<br />
        Nous intervenons sur 100 km autour de Sablons,<span>mais aussi dans toute la France </span> alors n'hésitez pas à
        nous contacter par téléphone ou via email pour plus
        d'informations.
      </p>
      
    </div>
    <div class="intervention-map flex center">
      <a
        href="https://www.google.com/maps/d/u/0/viewer?mid=1NZZPm3bzNyVE3Ij58KApmcOSgeiHDy8&femb=1&ll=45.07327546747293%2C6.372761495637764&z=8 "
        target="_blank"
      >
        <img
          src="../../../assets/images/MAPV3.png"
          alt="image de la zone d'intervention de RH Dépannage"
        />
      </a>
    </div>
  </div>
</div>
