<div class="main-container">
  <div class="container">
    <div class="social-links">
      <div class="phone flex">
        <div class="logo flex center">
          <img src="../assets/images/Towing-pana.png" />
          <div class="title">RHDEPANNAGE</div>
        </div>
      </div>
      <i class="fa-solid fa-phone"></i>
    </div>
    <div class="navbarmobile">
      <i
        [ngClass]="displayMenuBurger ? 'fa-solid fa-x' : ' fa-solid fa-bars'"
        (click)="toggleMenu()"
      >
      </i>
      <nav
        [ngClass]="
          displayMenuBurger ? 'navlistmobile invisible' : 'navlistmobile'
        "
      >
        <ul class="mainmenu" (click)="toggleMenu()">
          <li *ngFor="let item of navbar" routerLink="{{ item.routerLink }}">
            {{ item.name }}
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <nav class="navdesktop pointer ">
    <div class="container">
      <ul class="mainmenus flex center">
        <li *ngFor="let item of navbar" routerLink="{{ item.routerLink }}">
          {{ item.name }}
        </li>
      </ul>
    </div>
  </nav>
</div>
