@import "../../scss/variables.scss";

.main-container {
  display: flex;
  background-color: $black;
  height: 11vh;
  align-items: center;
  border: none;
  position: fixed;
  width: 100vw;
}
.container {
  display: flex;
  height: 5vh;
  width: 82vw;
  flex-direction: row;
  margin: 1rem;
}
.fa-phone {
  color: $yellow;
  font-size: x-large;
}

.phone {
  width: 100%;
  justify-content: end;
}

.logo {
  height: 8vh;
}

.logo img {
  height: 100%;
  width: 100%;
}

.navlistmobile {
  margin-top: 10vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70%;
  transition: right 1s;
}
.invisible {
  right: 0vh;
}
.navbarmobile i {
  z-index: 999;
  font-size: x-large;
  position: fixed;
  top: 20px;
  right: 15px;
  color: $yellow;
}
.navbarmobile {
  display: block;
}

.mainmenu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: $black;
  border: none;
}

.mainmenu li {
  display: block;
  text-decoration: none;
  padding: 30px;
  height: 10vh;
  color: $yellow;
  transition: 0.5s;
}
.mainmenu li:hover {
  background-color: $yellow;
  color: $black;
}
.navdesktop {
  display: none;
}

//-------------------------media queries------------------------//
@media screen and (min-width: 768px) {
  .navbarmobile {
    display: none;
  }
  .phone {
    display: none;
  }

  .main-container {
    display: flex;
    background-color: $black;
    height: 20vh;
    align-items: center;
  }

  .logo {
    height: 4vh;
  }

  // .logo img {
  //   height: 100%;
  //   width: 100%;
  // }

  .navdesktop {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
  }

  .mainmenus {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    font-size: 1.1rem;
  }
  .mainmenus li {
    color: white;
    transition: 0.5s;
  }

  .mainmenus li:hover {
    display: block;
    max-height: 200px;
    color: $yellow;
  }

  .ok {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
}
