<div class="main-container">
  <div class="container">
    <div class="social-links">
      <!-- <div id="google" class="social-btn flex-center " >
        <a href="https://search.google.com/local/reviews?placeid=ChIJd4oK7Iqb200RPtGJ6XS-SG4">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
      <img class="star" src ="assets/images/6293835a30fb025780ee2969.png">
    </a>
       </div> -->

      <div class="phone flex">
        <div class="logo flex center">
          <img src="../assets/images/Towing-pana.png" />
          <div class="title">RHDEPANNAGE</div>
        </div>
      </div>
      <i class="fa-solid fa-phone"></i>
    </div>
    <div class="navbarmobile">
      <i
        [ngClass]="displayMenuBurger ? 'fa-solid fa-x' : ' fa-solid fa-bars'"
        (click)="toggleMenu()"
      >
      </i>
      <nav
        [ngClass]="
          displayMenuBurger ? 'navlistmobile invisible' : 'navlistmobile'
        "
      >
        <ul class="mainmenu" (click)="toggleMenu()">
          <li *ngFor="let item of navbar" routerLink="{{ item.routerLink }}">
            {{ item.name }}
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <nav class="navdesktop pointer">
    <div class="container">
      <ul class="mainmenus flex">
        <li *ngFor="let item of navbar" routerLink="{{ item.routerLink }}">
          {{ item.name }}
        </li>
      </ul>
    </div>
  </nav>
</div>
