@import "../../scss/variables.scss";

.main-container {
  z-index: 1000;
  position: fixed;
  display: flex;
  background-color: $black;
  height: $mobile-header;
  //align-items: center;
  border: none;
  width: 100vw;
  top: 0;
}
.container {
  display: flex;
  height: calc($mobile-header / 2);
  width: 82vw;
  margin: $half-margin;
}

.fa-phone {
  color: $yellow;
  font-size: x-large;
}

.phone {
  //width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 80px;
  color: $yellow;
  font-size: 20px;
  // width:75vw;
  align-items: center;
}
.title {
  width: 100%;
  color: $yellow;
}

.logo img {
  height: 100%;
}

.navlistmobile {
  margin-top: $mobile-header;
  height: calc(100vh - $mobile-header);
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70%;
  transition: right 1s;
}
.invisible {
  right: 0vh;
}
.navbarmobile i {
  z-index: 9999;
  font-size: x-large;
  width: 24px;
  height: 24px;
  position: fixed;
  top: 18px;
  right: 15px;
  color: $yellow;
}
.navbarmobile {
  display: block;
}

.mainmenu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: $black;
  border: none;
}

.mainmenu li {
  display: block;
  text-decoration: none;
  padding: 30px;
  height: 10vh;
  color: $yellow;
  transition: 0.5s;
}
.mainmenu li:hover {
  background-color: $yellow;
  color: $black;
}
.navdesktop {
  display: none;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

//-------------------------media queries------------------------//
@media screen and (min-width: 768px) {
  .navbarmobile {
    display: none;
  }
  // .phone {
  //   display: none;
  // }
  .fa-phone {
    display: none;
  }
  .logo {
    font-size: 15px;
  }

  .main-container {
    display: flex;
    background-color: $black;
    height: $desktop-header;
    align-items: center;
  }

  .logo {
    height: calc($desktop-header / 2.5);
    width: calc($desktop-header / 2.5);
  }

  // .logo img {
  //   height: 100%;
  //   width: 100%;
  // }

  .navdesktop {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
  }

  .mainmenus {
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    font-size: 15px;
  }
  .mainmenus li {
    color: $white;
    transition: 0.5s;
  }

  .mainmenus li:hover {
    display: block;
    max-height: 200px;
    color: $yellow;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 950px) {
  .mainmenus {
    font-size: 20px;
  }
  .logo {
    font-size: 20px;
  }
}
