<app-h1-component [titleInComponent]="title"></app-h1-component>
<div class="contact-page flex column center">
  <h2>Adresse et Téléphone</h2>
  <span class="underline"></span>
  <a
    class="flex align-center width-to-adapt"
    href="https://maps.app.goo.gl/hzJtFWsvaquvWS1T7"
  >
    <i class="fa-solid fa-location-dot"></i>
    <div class="flew column">
      <p>7 impasse des poiries</p>
      <p>38550 Sablons France</p>
    </div>
  </a>
  <a class="flex align-center width-to-adapt" href="tel:+33603430085">
    <i class="fa-solid fa-phone"></i>
    <p class="flex">06 03 43 00 85</p>
  </a>

  <h2>Horaires</h2>
  <span class="underline"></span>
  <p class="width-to-adapt">Disponible 7j/7 24h/24</p>

  <h2>Formulaire de Contact</h2>
  <span class="underline"></span>
  <app-contact-form></app-contact-form>
</div>

