@import "../../scss/variables.scss";
@import "../../scss/buttons.scss";

.mail {
  padding-left: 30px;
}

form {
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    mat-form-field {
      width: 80vw;
      max-width: 280px;
      .prefix {
        padding-left: $normal-padding;
      }
    }
  }
  .field-text-area {
    .mat-form-field-text-area {
      height: 400px;
      overflow: hidden;

      textarea {
        height: 350px;
        resize: none;
      }
    }
  }
  .submit {
    width: 200px;
    height: 50px;
  }
}
.all-infos {
  h2 {
    margin: 4vh 0;
    width: 100%;
    text-align: center;
  }
  .width-to-adapt {
    width: 100%;
    margin-bottom: $double-margin;
  }
}
p {
  width: 100%;
  text-align: center;
  padding-left: 8px;
}
.style {
  padding-right: 53px;
}

.informations {
  margin-bottom: 2vh;
}

i {
  border-radius: 25px;
  text-shadow: 0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black,
    0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black,
    0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black,
    0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black,
    0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black, 0 0 0.7px $black,
    0 0 0.7px $black;
}

.informations {
  width: 80%;
}

small {
  color: $yellow;
  width: 94%;
}
iframe {
  height: 300px;
  margin-bottom: 50px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  iframe {
    width: 70vw;
    border-radius: 20px;
  }
  .width-to-adapt {
    width: auto;
  }
  .style {
    padding-right: 85px;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 640px;
    fieldset {
      width: 50%;
      align-items: center;
      mat-form-field {
        width: 100%;
      }
    }
    .button {
      width: 200px;
      height: 90px;
    }
    .field-text-area {
      width: 100%;
      .mat-form-field-text-area {
        height: 280px;
        max-width: 580px;
        width: 580px;
        textarea {
          height: 230px;
          max-width: 600px;
        }
      }
    }
  }
}
