<div class="all-infos flex column align-center">
  <span class="underline"></span>
  <h2>Adresse et Téléphone</h2>
  <span class="underline"></span>
  <div class="informations flex column align-center">
    
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22444.748586306687!2d4.7763442!3d45.316635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ddb9b8aec0a8a77%3A0x6e48be74e989d13e!2sRHDepannage!5e0!3m2!1sfr!2sfr!4v1702037240727!5m2!1sfr!2sfr"
       
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    

    <a
      class="flex align-center width-to-adapt justify-center"
      href="https://maps.app.goo.gl/hzJtFWsvaquvWS1T7"
    >
      <i class="fa-solid fa-location-dot"></i>
      <div class="flex column">
        <p>7 impasse des poiriers</p>
        <p>38550 Sablons France</p>
      </div>
    </a>
    <a
      class="flex align-center width-to-adapt justify-center"
      href="tel:+33603430085"
    >
      <i class="fa-solid fa-phone"></i>
      <div class="flex column">
        <p class="style flex">06 03 43 00 85</p>
      </div>
    </a>
  </div>

  <h2>Horaires</h2>
  <span class="underline"></span>
  <p class="width-to-adapt">Disponible 7j/7 24h/24</p>

  <app-loader [booleanVisibilityInLoarder]="isLoaderVisible"></app-loader>
</div>
