<div class="main">
  <div class="container">
    <div class="services-container">
      <img
        src="../assets/images/panne-camion-transporteur-pendant-travail-utilisant-transporteur-ceinture-verrouillee-autre-voiture-verte.jpg"
      />
      <div class="texte">
        <h3>DÉPANNAGE ET REMORQUAGE</h3>
      </div>
      <p>
        Une panne de voiture peut survenir à tout moment, mais le pire est de se
        retrouver loin de chez soi, en pleine nuit et au beau milieu de nulle
        part. Pour profiter d’un service de dépannage rapide et de remorquage
        dans les départements du 26,38 et du département 69, comptez sur RH
        DÉPANNAGE.
      </p>
    </div>

    <div class="services-container center">
      <img src="../assets/images/auto-3734396_1280.jpg" />
      <div class="texte">
        <h3>ENLÈVEMENT D'ÉPAVE</h3>
      </div>
      <p>
        Les véhicules hors d’usage sont des déchets qui doivent être débarrassés
        en raison de leur nuisance sur l’environnement et leur encombrement.
        Pour profiter d’un service d’enlèvement d’épaves gratuit dans le
        département du du 26,38 et du département 69, faites appel à RH
        DÉPANNAGE.
      </p>
    </div>

    <div class="services-container center">
      <img src="../assets/images/auto-3734396_1280.jpg" />
      <div class="texte">
        <h3>Rachat et revente de véhicule</h3>
      </div>
      <p>
        En moyenne, les Français changent de voiture tous les 5 ans, ce qui
        implique généralement de se débarrasser de l’ancien. Pour tout besoin
        d’un professionnel en rachat et revente de véhicule dans le 38,
        confiez-vous à RH DÉPANNAGE.
      </p>
    </div>
  </div>
</div>
