@import "../scss/variables.scss";

.image-texte {
  background-color: $white;
  overflow: hidden;
  padding-bottom: 4vh;
  div {
    margin: auto;
    padding: 0 5vh;
    h3 {
      width: 100%;
      text-align: center;
      color: $black;
    }
    p {
      color: $black;
    }
  }
}
@media screen and (min-width: 768px) {
  .image-texte {
    flex-direction: row;
    padding-bottom: 0vh;
    
    
    img{width: 50vw;
    height: 100%;}
    div {
      padding: 2vh;
      h3 {
        font-size: 24px;
      }
    }
    p {
    
      height: 100%;
      font-size :16px ;
   }
  }
}

@media screen and (min-width: 1234px) {

  .image-texte {
    flex-direction: row;
    padding-bottom: 0vh;
    width: 80vw;
    img{width: 40vw;
    height: 100%;}
    div {
      h3 {
      }
    }
    p {
      width: 100%;
      font-size :22px ;
   }
  }
}
