@import "../../scss/variables.scss";

.title{
  padding-top: $four-padding
}


h2 {
  margin-bottom: 2vh;
  color: $white;
  text-align: center;
}

p {
  margin: 2vh;
  text-align: justify;
}

.starpara p{
font-style: italic;
color: gray;
}


.googlestar{
  height: 100px;
}
img{
  margin:   2vh 0 0 2vh;
  height:20px;
}

span{
  color: lightgrey;
}

// img{
//   height: 10px;
//   width: 10px;
// }