@import "../../scss/variables.scss";

.blur-background {
  position: fixed;
  width: 100vw;
  z-index: -1; /* Placez-le en arrière-plan */

  top: 47px;
  left: 0;
  filter: blur(1px) brightness(50%);
  min-height: $mobile-h1-component;
}

.intro {
  position: absolute;
  top: $mobile-header;
  height: calc($mobile-h1-component);
  color: $white;
  width: 100%;
  text-align: center;

  h1 {
    font-size: $triple-font-size;
    font-weight: bold;
  }
}

p {
  padding-top: 2vh;
  font-size: $normal-font-size;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .blur-background {
    top: calc($desktop-header);
    min-height: $desktop-h1-component;
  }
  .intro {
    top: $desktop-header;
    font-size: $triple-font-size;
    height: calc($desktop-h1-component);
    h1 {
      font-size: $max-font-size;
      font-weight: bold;
    }
  }
  p {
    top: $desktop-header;
    font-size: $triple-font-size;
  }
}
@media screen and (min-width: 1200px) {
  .blur-background {
    top: calc($desktop-header);
  }
}
