@import "../../scss/variables.scss";

.blur-background {
  position: fixed;
  width: 100vw;
  height: 40vh; /* Ajustez la hauteur comme nécessaire */
  text-align: center;
  z-index: -1; /* Placez-le en arrière-plan */
  top: 10vh;
  left: 0;
  background-image: url(../../../assets/images/02.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  opacity: 0.5;
}
