<app-h1-component [titleInComponent]="title"></app-h1-component>
<div class="home-page flex column center">
  <div class="title flex column center">
 
    <div class="google">
      
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
      <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
      <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
      <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
    </svg>
    
    </div>
    <h2>RH Dépannage</h2>
    
    <span class="underline"></span>
  </div>

  <p>
    Lorsque les circonstances vous jouent des tours et que votre voiture vous
    lâche au pire moment et au pire endroit, la panique et l'inquiétude peuvent
    rapidement s'installer, surtout si vous vous retrouvez au beau milieu de
    nulle part, tard dans la nuit. Mais pas d'inquiétude, nous sommes là pour
    vous. Situés à SABLONS, nous intervenons dans un rayon de 100 km pour vous
    offrir un service de dépannage automobile fiable et efficace.
  </p>

  <h3>Assistance automobile sur laquelle vous pouvez compter</h3>
  <p>
    Si vous êtes confronté à une panne soudaine, vous pouvez compter sur notre
    équipe. Nous proposons deux solutions en fonction de la situation : un
    dépannage sur place si possible, ou un remorquage vers un garage partenaire.
    Quelle que soit la nature de votre panne, nous sommes là pour vous sortir de
    ce mauvais pas.
  </p>
  <h3>Rapidité et efficacité pour votre dépannage avec RH Dépannage</h3>
  <p>
    Notre équipe est spécialisée dans les services d'assistance automobile,
    offrant des prestations complètes telles que :
  </p>

  <ul class="ul column">
    <li>Dépannage sur place</li>
    <li>Remorquage en toute sécurité</li>
    <li>Enlèvement d'épaves</li>
    <li>Rachat et de revente de véhicules.</li>
  </ul>
  <p>
    Notre priorité est de garantir une intervention rapide et efficace, en
    répondant à vos besoins de manière professionnelle et personnalisée.
    Contactez-nous pour tout dépannage dans les régions 38 et 69 RH Dépannage
    est implanté au 7 impasse des poiriers Sablons France (38550).
  </p>
  <p>
    Pour obtenir de plus amples informations, n'hésitez pas à nous contacter au
    06 03 43 00 85 ou à remplir le formulaire ci-joint. Notre équipe est là pour
    vous aider, 24 heures sur 24, 7 jours sur 7.
  </p>
  <app-ourvalues></app-ourvalues>
  <app-intervention></app-intervention>
  <app-carousel></app-carousel>
  <app-contact-form></app-contact-form>
</div>
