.carousel-container {
  width: 100%;
  height: 400px; /* Ajustez selon vos besoins */
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: exemple 3s  infinite;
}
@keyframes exemple {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
