<app-h1-component [titleInComponent]="title"></app-h1-component>
<div class="private-policy-page flex center"></div>
<div class="main-container flex center column">
  <div class="title flex column center">
    <h2>Politique de confidentialité</h2>
    <span class="underline"></span>
  </div>
  <div class="policymain">
    <h3>1. Objectif de cette Politique de Confidentialité</h3>

    <p>
      Cette déclaration de confidentialité s'applique exclusivement au
      traitement des données personnelles des visiteurs du site
      www.RHDEPANNAGE.fr. Elle n'inclut pas les activités de traitement menées
      par CHARFEDDINE HAMZA en dehors de ce site.
    </p>
    <p>
      Le site comporte des liens vers d'autres sites internet. Les informations
      ci-dessous ne couvrent pas les traitements de données personnelles et les
      cookies sur ces sites. Consultez les mentions de confidentialité de chaque
      site visité pour connaître les conditions applicables.
    </p>
    <p>
      La navigation sur www.depannage-isere.fr entraîne le traitement de données
      personnelles de l'utilisateur de deux manières : la navigation sur le site
      et les interactions via les fonctionnalités telles que le formulaire de
      contact.
    </p>
    <h3>2. Journalisation des accès au serveur</h3>
    <p>
      Lors de votre visite, le serveur enregistre les demandes de votre
      navigateur pour fournir le contenu du site sur votre appareil. Ces
      données, telles que l'adresse IP et les caractéristiques du navigateur,
      sont traitées pour protéger le site contre les accès frauduleux. Ces
      informations sont conservées pendant un an.
    </p>

    <h3>3. Droits et recours</h3>
    <p>
      Vous avez des droits d'accès, de rectification, d'effacement, de
      limitation du traitement et de portabilité des données. Adressez vos
      demandes à rgpd[at]futurdigital.fr. Pour d'autres traitements, utilisez le
      formulaire de contact sur le site ou écrivez à 7 impasse des poiriers,
      38550 SABLONS. Si vos droits ne sont pas respectés, vous pouvez déposer
      une réclamation auprès de la CNIL.
    </p>
  </div>
</div>
<app-arrow-up></app-arrow-up>
