// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Starter-front-primary: mat.define-palette(mat.$indigo-palette);
$Starter-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Starter-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Starter-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $Starter-front-primary,
      accent: $Starter-front-accent,
      warn: $Starter-front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Starter-front-theme);

// @import "scss/variables";
@import "../src/app/scss/buttons.scss";
@import "../src/app/scss/variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------ Flex Layouts ------ */
.flex {
  display: flex;
  &.row {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

//
.display-none {
  display: none;
}

body {
  background-color: $white;
  color: $black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-size: $triple-font-size;
}

h3 {
  font-size: $double-font-size;
  padding: $double-padding 0;
  // background-color: $yellow;
  // color:$black
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.2;
}

a {
  color: $black;
}

i {
  font-size: $double-font-size;
  color: $yellow;
  width: $triple-padding;
}

.about-us-page,
.contact-page,
.gallery-page,
.home-page,
.services-page,
.p404-page {
  margin-top: 12vh;
  padding: $double-padding;
}

// Breackpoint list
// Mobiles vers Tablettes :
@media screen and (min-width: 768px) {
  .about-us-page,
  .contact-page,
  .gallery-page,
  .home-page,
  .services-page,
  .p404-page {
    padding: $four-padding;
  }
  h2 {
    font-size: $fourth-font-size;
  }
  h3 {
    font-size: $triple-font-size;
    padding: $triple-padding 0;
  }

  p {
    font-size: $double-font-size;
    line-height: 1.2;
  }
  i {
    font-size: $triple-font-size;
    width: $triple-padding * 2;
  }
}
// Point de rupture : 768 pixels de largeur

// Tablettes vers ordinateurs portables :
@media screen and (min-width: 992px) {
}

// Ordinateurs portables vers ordinateurs de bureau :
@media screen and (min-width: 1200px) {
  .about-us-page,
  .contact-page,
  .gallery-page,
  .home-page,
  .services-page,
  .p404-page {
    padding: 0 160px 80px 160px;
  }
}

// Large Desktops (pour des écrans très larges) :
@media screen and (min-width: 1920px) {
}